/*!
 * Copyright (c) 2024 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

@import (reference) '../../../styles.less';
@import '_variables.less';

// Re-declare utilities and other classes with updated variables.
.bg-primary {
  background-color: @brand-primary;
}

.text-primary {
  color: @brand-primary;
}

.bg-secondary {
  background-color: @brand-secondary;
}

.btn-primary,
.btn-warning {
  .button-variant(@white, @brand-primary, @brand-primary);
}

// Change the hamburger menu to adoptium brand colors.
#main-menu .navbar-toggle .icon-bar {
  background: @brand-primary;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  color: @headings-color;
  font-weight: @headings-font-weight;
}

//== Layout

// Header
.header-wrapper .featured-jumbotron {
  background: url('../../../images/2024/adoptium-summit/adoptium-summit-jumbotron-2024.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

// Jumbotron
.featured-jumbotron {
  text-align: left;
  padding-top: 5rem;
  padding-bottom: 5rem;

  h1::after {
    display: none;
  }

  .list-inline {
    margin-top: 2rem;
  }
} 

.featured-jumbotron .custom-jumbotron {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  &-title {
    margin: 0;
    color: @brand-primary;
    font-size: 2.5rem;
    font-weight: 600;
    
    &::after {
      display: none;
    }
  }

  &-subtitle {
    margin: 0;
    color: @white;
    font-size: 3.5rem;
    font-weight: 500;
  }

  &-tagline {
    color: @brand-primary;
    font-weight: 500;
  }

  @media (min-width: @screen-md-min) {
    flex-direction: row;

    & > * {
      width: 100%;
    }
  }
}

// Featured Sections
.featured-section {
  font-size: 1.9rem;
  line-height: 1.5;

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3 {
    color: @brand-primary;
    font-weight: 500;
  }
}

//== Components 

// Study Showcase
.study-showcase {
  display: flex;
  backdrop-filter: blur(5px);
  background-color: #88888866;
  padding: 2rem;
  border-radius: 1rem;

  &,
  p {
    font-size: 1.5rem;
    font-weight: 400;
  }

  & > * {
    width: 100%;
  }

  p.study-showcase-pretitle {
    margin-bottom: 0;
    color: @brand-primary;
    font-weight: 600;
    text-transform: uppercase;
  }

  &-title {
    margin-top: 0;
    color: @brand-primary;
    font-size: 2rem;
    font-weight: 600;
  }

  &-image {
    max-height: 20rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  @media (min-width: @screen-md-min) {
    &-image {
      max-height: unset;
    }
  }
}

// Icon Description
.icon-description {
  display: flex;
  gap: 1em;

  img {
    width: 2em;
    aspect-ratio: 1;
  }
}

// User Display
.eclipsefdn-user-display-circle .img {
  border: none;
}

.eclipsefdn-user-display-content a {
  color: @brand-secondary;
}

// Agenda
.eclipsefdn-agenda-schedule {
  font-size: 1.6rem;
}

.bg-banner {
  background: url('../../../images/2024/adoptium-summit/adoptium-summit-jumbotron-2024.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.event-registration {
  font-size: 2rem;
  line-height: 1.5;
}

li:nth-child(n) > .session-card {
  background-color: #3A0331;

  h3,
  .h3 {
    color: #bbb;
    mix-blend-mode: color-dodge;
  }
}
li:nth-child(2n) > .session-card {
  background-color: #C25588;

  h3,
  .h3 {
    color: #bbb;
    mix-blend-mode: color-dodge;
  }
}

li:nth-child(3n) > .session-card {
  background-color: #14003C;

  h3,
  .h3 {
    mix-blend-mode: unset;
    color: #ff1464
  }

  .fa-user {
    mix-blend-mode: unset;
    color: #ff146488;
  }
}
li:nth-child(4n) .session-card {
  background-color: #86507E;

  h3,
  .h3 {
    color: @white;
  }
}

a.session-card {
  &,
  &:visited,
  &:hover
  &:focus,
  &:active {
    color: @white;
    text-decoration: none;
  }
}

a.session-card.link-unstyled {
  color: @white;
}

.session-card {
  color: @white;
  font-size: 1.5rem;
  box-shadow: 0 0 4px #00000044;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
    transition: all 0.2s ease-out;
    box-shadow: 0 0 10px #00000044;
  }

  &-content {
    opacity: 0.6;
  }

  .fa-user {
    mix-blend-mode: soft-light;
  }

  h3,
  .h3 {
    color: #bbb;
    font-size: 2rem;
    mix-blend-mode: color-dodge;
  }
}
