/* @CHARSET "UTF-8"; */
/*!
 * Copyright (c) 2019 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

@white-color:  #FFFFFF;
@main-theme-color: #3E7B96;
@default-event-card-background-color: #000000;

/* Define the function to map the event type with the background images starts */
@image-urls: 
    "images/ef_event.png",
    "images/ef_attending.png",
    "images/other.png";

@event-attendance-type-class-names: ef_event, ef_attending, other;

@length: length(@event-attendance-type-class-names);

.generate-backgroundImages(@image-urls; @event-attendance-type-class-names; @index) when (@index > 0) {
    .generate-backgroundImages(@image-urls; @event-attendance-type-class-names; (@index - 1)); // decrement.
 
  @event-attendance-type-class-name: extract(@event-attendance-type-class-names, @index);
  @image-url: extract(@image-urls, @index);
 
  .type-@{event-attendance-type-class-name} {
    background-image: url("@{image-url}");
    background-size: cover;
  }

  .event-legend-@{event-attendance-type-class-name} {
    background-image: url("@{image-url}");
    background-size: cover;
  }
}
/* Define the function to map the event type with the background images ends */

.all-margin-auto {
    margin: auto;
}

/* Events styles */

.upcoming-events-header {
  .featured-jumbotron {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-image: url('images/bg-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 10%;
    text-align: center;

    & > .container {
      filter: drop-shadow(0 0 8px black) drop-shadow(0 0 8px black);
    }

    &-headline {
      position: relative;
      color: #fff;
      font-weight: 500;
      
      &::after {
        content: '';
        border-color: @brand-primary-light;
        border-bottom-width: 5px;
      }
    }

    &-tagline {
      margin-top: 2rem;
      font-size: 1.8rem;
    }
  }
}


.event-list-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.generate-backgroundImages(@image-urls; @event-attendance-type-class-names; @length);

/* Add a default background black just in case if there is a new event type and we dont have bg-image for it */
.event-card {
    min-height: 300px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    color: @white-color;
    display: flex;
    flex-direction: column;
    border: 1px solid #ededed;
    background-color: @default-event-card-background-color;
}

.event-card-decoration-dash {
    height: 4px;
    width: 60px;
    background-color: @white-color;
    margin: auto;
}

.event-card-title {
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    line-height: 1.5;
    color: @white-color;
}

.event-details {
    padding: 20px;
    background-color: @white-color;
    height: auto;
}

.event-btn-more {
    color: @brand-primary !important;
    border: 1px solid @brand-primary !important;
}

.event-filter-title {
    background: @main-theme-color;
    width: 100%;
    text-align: left;
    line-height: 30px;
    min-height: 47px;
    color: @white-color;
    border: none;
    padding-right: 15px;
    padding-left: 15px;
}

.event-filter-checkbox-list {
    background-color: #efefef;
    list-style-type: none;
    padding: 15px 0 15px 7px;
}

#event-filter-checkbox-margin {
    margin: 7px;
}

.event-filter-expandable-icon {
    float: right;
    line-height: inherit;
}

.event-card-button {
    background: none;
    border: 1px solid @white-color;
    &:hover {
        color: @white-color;
        background: none;
        border: 1px solid @white-color;
    }
    &:active {
        background: none;
        border: 1px solid @white-color;
    }
}

.event-card-calendar-icon {
    color: @main-theme-color;
    margin-right: 5px;
    margin-left: 10px;
}

.event-card-calendar-icon-ef_attending {
    color: @white-color !important;
}

.event-card-title-wrapper-display-IE {
    display: table-cell;
}

.event-card-title-wrapper {
    p {
        font-size: 16px;
    }
}

.event-legend-ul {
    list-style-type: none;
    padding-left: 0; 
}

.event-legend-li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Add a default background black just in case if there is a new event type and we dont have bg-image for it */
.event-legend {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: @default-event-card-background-color;
}

.event-legend-p {
    margin-bottom: 0;
    margin-left: 10px;
}

.event-load-more {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.event-past {
    .event-card {
        -webkit-filter: grayscale(100%) !important;
        filter: grayscale(100%) !important;
    }
}

.past-events-line {
    width: inherit;
    text-align: center;
    overflow: hidden;
}

.past-events-line:before, .past-events-line:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  .past-events-line:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  .past-events-line:after {
    left: 0.5em;
    margin-right: -50%;
  }

/** CustomSearch Style start **/
/* enable relative positioning */
.inner-addon {
    position: relative; 

    /* style icon */
    .fa-search {
        position: absolute;
        padding: 10px;
        pointer-events: none;
    }
}

/* align icon */
.left-addon {
    /* add padding  */
    input  {
        padding-left:  30px;
    }
    .fa-search {
        left:  0px;
    }
}

/* Right-addon is currenly not in used, just in case if needed in future, keep it here */
.right-addon {
    input { 
        padding-right: 30px; 
    }
    .fa-search {
        right: 0px;
    }
}
/** CustomSearch Style ends **/

/** past events style **/
.past-event-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/** past events style end **/

@media screen and (max-width: 991px) {
    .max-min-width {
        min-width: 100%;
    }
}

@media screen and (max-width: 766px) {
    .events-jumbotron-class {
        .jumbotron {
            .container {
                margin-top: 0;
            }
        }
    }
}
