{{ define "footer-suffix" }}
<script src="{{ .Site.BaseURL | relURL }}/js/App.js"></script>
{{ end }}

{{ define "main" }}
<div id="app"></div>
{{ end }}

{{ define "main_prefix" }}
<!-- main_prefix -->
{{ end }}
{{ define "main_suffix" }}
<!-- main_suffix -->
{{ end }}
